# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend/venv/
venv/
ENV/
env/

# Environment variables & secrets
.env
backend/.env

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Private Documentation (Not visible in GitHub)
DEVELOPMENT_LOG.docx

# Node / Frontend
node_modules/
dist/
.DS_Store
